<div class="container">
  <div class="row">
    <div class="m-md-5 d-inline-block">
      <p><%= image_tag @item.get_image, size:"300x200" %></p>
    </div>
    <div class="m-md-5">
      <strong><%= @item.name %></strong>
      <p class="mt-md-3"><%= @item.explanation %></p>
      <p class="mt-md-5">¥ <%= @item.taxin_price.to_s(:delimited) %>（税込）</p>
      <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
        <p>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.select :amount, *[1..10] %>
        </p>
        <p><%= f.submit 'カートに入れる', class: "btn btn-success" %></p>
      <% end %>
    </div>
  </div>
</div>